<?xml version="1.0" encoding="UTF-8"?>	<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">	<plist version="1.0">  <dict>    <key>content</key>    <string>Scion FR-S DRive</string>    <key>content</key>    <string>JaguaR XKR-S: Hello Kitty! 580-bhp ZL1</string>    <key>content</key>    <string>team america takes on godzilla MOst Powerful CaMarO ever! March 2012 • $4.99 • UK £3.95</string>    <key>views</key>    <array>      <dict>        <key>view-type</key>        <string>link</string>        <key>final-coordinates</key>        <string>{{19,192},{100,5}}</string>        <key>url</key>        <string>roadandtrack.com</string>      </dict>      <dict>        <key>view-type</key>        <string>link</string>        <key>final-coordinates</key>        <string>{{17,265},{683,201}}</string>        <key>url</key>        <string>Camarovs.GT-R</string>      </dict>    </array>  </dict></plist>